/* Basic styles
----------------------------------------------- */
a:link, a:visited, a:hover {
	color: #00b5d6;
	text-decoration: none;	
}

a:active {
	color: #f8b551;
	text-decoration: none;	
}

/* Layout styles
----------------------------------------------- */
#page {
	width: 100%;
	margin: 28px auto 0;
	background-color: #ffffff;
}

#content {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 118px;
}

#main {
	float: left;
	width: 774px;
}

aside {
	position: relative;
	float: right;
	width: 300px;
}

/* Header styles
----------------------------------------------- */
#header .logo {
	width: 1074px;
	margin: 0 auto 27px;
}

.navbar-header {
	height: 40px;
	margin-bottom: 20px;
	-moz-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	-webkit-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	background-color: #3c3c3c;
}

.navbar-header .nav-wrapper {
	width: 1074px;
	margin: 0 auto;
}

.navbar-header .nav-inner {
	float: left;
	width: 400px;
}

.navbar-header span.home-buttom {
	float: left;
	width: 30px;
	margin: 8px 40px 8px 10px;
}

.navbar-header .menu-header-nav-container {
	float: right;
	width: 320px;
}

.navbar-header ul {
	margin: 0;
	padding: 0;
}

.navbar-header ul li {
	list-style: none;
	position: relative;
	width: 140px;
	height 40px;
	float: left;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}

.navbar-header ul li.blog {
	margin-right: 40px;
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 90%;
}

.navbar-header ul li.izmaker {
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 80%;
}

.navbar-header ul li a {
	display: block;
	border-top: solid 2px #3c3c3c;
	border-bottom: solid 2px #dd495a;
	color: #ffffff;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
}

.navbar-header ul li.izmaker a {
	border-bottom: solid 2px #22b6a3;
}

/* Sub menu */
.navbar-header .sub-menu {
  	position: absolute;
  	top: 40px;
  	width: 140px;
  	z-index: 100;
  	-moz-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	-webkit-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
}

.navbar-header .sub-menu li {
	visibility: hidden;
	overflow: hidden;
	width: 140px;
	height: 0;
	background-color: #dd495a;
}

.navbar-header li.izmaker .sub-menu li {
	background-color: #22b6a3;
}

.navbar-header .sub-menu li a,
.navbar-header li.izmaker .sub-menu li a {
	border: none;
	font-weight: normal;
	line-height: 40px;
}

.navbar-header .sub-menu li:hover,
.navbar-header .sub-menu li a:hover {
	background-color: #ffffff;
	color: #dd495a;
}

.navbar-header li.izmaker .sub-menu li:hover, 
.navbar-header li.izmaker .sub-menu li a:hover {
	background-color: #ffffff;
	color: #22b6a3;
}

.navbar-header ul li:hover ul li, 
.navbar-header ul li a:hover ul li {
	visibility: visible;
	overflow: visible;
	height: 40px;
	z-index: 10;
}

.navbar-header * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* Form search */
.form-search {
	float: right;
	width: 230px;
	text-align: right;
}

.form-search fieldset input.form-control {
	width: 180px;
	height: 26px;
	margin: 4px 12px 4px 0;
}

.form-search fieldset input {
	vertical-align: middle;
}

/* Breadcrumb styles
----------------------------------------------- */
#breadcrumb {
	margin-bottom: 10px;
	color: #3c3c3c;
	font-size: 12px;
}

#breadcrumb ul li {
	display: inline;
}

#breadcrumb ul li+li:before {
	content: "\00a0>\00a0 ";
}

#breadcrumb a:link, 
#breadcrumb a:visited {
	color: #0296d4;
}

#breadcrumb a:active, 
#breadcrumb a:hover {
	color: #0296d4;
}

/* About styles
----------------------------------------------- */
#about-wrapper {
	width: 745px;
}

#about-wrapper h2 {
	margin-bottom: 20px;
	background-color: #6a6a6a;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

#about-wrapper h2 img {
	margin: 0 10px;
	vertical-align: -3px;
}

#about-wrapper h3 {
	margin-bottom: 20px;
	padding-left: 20px;
	background-color: #efefef;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: bold;
	line-height: 70px;
}

#about-wrapper img {
	margin-bottom: 20px;
}

#about-wrapper section#about-izmaker p {
	margin-bottom: 100px;
	color: #3c3c3c;
	font-size: 16px;
	line-height: 1.5em;
}

#about-wrapper section#about-link p {
	margin-bottom: 40px;
	color: #3c3c3c;
	font-size: 16px;
	line-height: 1.5em;
}

#about-wrapper section#about-link p span {
	font-weight: bold;
}

#about-wrapper section#about-mail {
	margin-bottom: 100px;
}

#about-wrapper section#about-mail p {
	margin-bottom: 60px;
	color: #3c3c3c;
	font-size: 16px;
	line-height: 1.5em;
}

/* Contact Form7 */
.wpcf7 form.wpcf7-form p {
	font-weight: bold;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"] {
	width: 410px;
	height: 30px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wpcf7-form select[name="menu-430"] {
	width: 310px;
	height: 30px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wpcf7-form textarea {
	width: 745px;
	height: 370px;
	border: 1px solid #b2b2b2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wpcf7 input[type="image"] {
	display: block;
	margin-left: auto;
 	margin-right: auto;
}

/* Sidebar styles
----------------------------------------------- */
.izmaker,
.sinagawa,
.raitank,
#primary-adsense,
#widget-facebook {
	margin-bottom: 20px;
}

#primary-adsense {
	height: 602px;
}

.ads-wrapper {
	width: 300px;
}

.ads-wrapper a img {
	margin-bottom: 10px;
}

.ads-wrapper a:nth-child(2n+1) img {
	margin-right: 20px;
}

#widget-facebook {
	height: 642px;
}

/* Popular posts */
#popular-posts {
	height: 1043px;
	margin-bottom: 24px;
	padding: 10px 16px;
	border: 1px solid #d1d1d1;
}

#popular-posts h3 {
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: bold;
}

#popular-posts img {
	margin-right: 4px;
	vertical-align: -8px;
}

#popular-posts ol {
	margin: 0;
    counter-reset: li;
}

#popular-posts li {
	position: relative;
	margin-bottom: 20px;
	font-size: 12px;
}

#popular-posts ol li:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: url(../images/bg_blue.gif) no-repeat;
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	content: counter(li);
	counter-increment: li;
}

#popular-posts li img {
	float: left;
	width: 80px;
	margin-right: 10px;
}

#popular-posts .pop-content {
	float: right;
	width: 170px;
}

#popular-posts .pop-category a {
	display: block;
	width: 85px;
	margin-bottom: 10px;
	background-color: #00b5d6;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}

#popular-posts .pop-category a#blog,
#popular-posts .pop-category a#news,
#popular-posts .pop-category a#technique,
#popular-posts .pop-category a#interesting,
#popular-posts .pop-category a#life {
	background-color: #dd495a;
}

#popular-posts .pop-category a#izmaker,
#popular-posts .pop-category a#info,
#popular-posts .pop-category a#campaign,
#popular-posts .pop-category a#pickup,
#popular-posts .pop-category a#useful,
#popular-posts .pop-category a#magazine {
	background-color: #22b6a3;
}

/* Footer area styles
----------------------------------------------- */
#footer-area {
	height: 200px;
	margin-bottom: 20px;
	background-image: url(../images/bg_izmaker.png),url(../images/bg_white.gif);
	background-repeat: no-repeat,repeat-x;
	background-position: 50% 50%,top;
	background-color: #f7f7f7;
}

#footer-area .social-info {
	width: 1074px;
	margin: 0 auto;
	padding: 58px 0;
}

#footer-area .social-info ul li {
	float: left;
	width: 348px;
	margin-right: 15px;
}

#footer-area .social-info ul li:last-child {
	margin-right: 0;
}

#footer-area .social-info ul li .fo-facebook,
#footer-area .social-info ul li .fo-twitter {
	overflow: hidden;
	position: relative;
}

#footer-area .social-info ul li .fo-facebook .fb-content,
#footer-area .social-info ul li .fo-twitter .tw-content {
	position: absolute;
	top: 66px;
    left: 124px;
}

/* Footer styles
----------------------------------------------- */
footer {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.navbar-footer {
	float: left;
}

.navbar-footer ul li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
}

.navbar-footer ul li a {
	font-size: 12px;
	text-decoration: none;
}

.navbar-footer ul li a:link, 
.navbar-footer ul li a:visited,
.navbar-footer ul li a:active, 
.navbar-footer ul li a:hover {
	color: #000000;
}

p.copyright small {
	float: right;
	font-size: 12px;
}