/* Basic styles
----------------------------------------------- */
a:link, a:visited, a:hover {
	color: #00b5d6;
	text-decoration: none;	
}

a:active {
	color: #f8b551;
	text-decoration: none;	
}

/* Layout styles
----------------------------------------------- */
#page {
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}

#content {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 118px;
}

#main {
	float: left;
	width: 774px;
}

aside {
	position: relative;
	float: right;
	width: 300px;
}

/* Header styles
----------------------------------------------- */
#header {
	margin-top: 28px;
}

#header .logo {
	width: 1074px;
	margin: 0px auto 27px;
}

.navbar-header {
	height: 40px;
	margin-bottom: 20px;
	-moz-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	-webkit-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	background-color: #3c3c3c;
}

.navbar-header .nav-wrapper {
	width: 1074px;
	margin: 0 auto;
}

.navbar-header .nav-inner {
	float: left;
	width: 400px;
}

.navbar-header span.home-buttom {
	float: left;
	width: 30px;
	margin: 8px 40px 8px 10px;
}

.navbar-header .menu-header-nav-container {
	float: right;
	width: 320px;
}

.navbar-header ul {
	margin: 0;
	padding: 0;
}

.navbar-header ul li {
	list-style: none;
	position: relative;
	width: 140px;
	height 40px;
	float: left;
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}

.navbar-header ul li.blog {
	margin-right: 40px;
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 90%;
}

.navbar-header ul li.izmaker {
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 80%;
}

.navbar-header ul li a {
	display: block;
	border-top: solid 2px #3c3c3c;
	border-bottom: solid 2px #dd495a;
	color: #ffffff;
	font-weight: bold;
	line-height: 36px;
	text-decoration: none;
}

.navbar-header ul li.izmaker a {
	border-bottom: solid 2px #22b6a3;
}

/* Sub menu */
.navbar-header .sub-menu {
  	position: absolute;
  	top: 40px;
  	width: 140px;
  	z-index: 100;
  	-moz-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	-webkit-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
}

.navbar-header .sub-menu li {
	visibility: hidden;
	overflow: hidden;
	width: 140px;
	height: 0;
	background-color: #dd495a;
}

.navbar-header li.izmaker .sub-menu li {
	background-color: #22b6a3;
}

.navbar-header .sub-menu li a,
.navbar-header li.izmaker .sub-menu li a {
	border: none;
	font-weight: normal;
	line-height: 40px;
}

.navbar-header .sub-menu li:hover,
.navbar-header .sub-menu li a:hover {
	background-color: #ffffff;
	color: #dd495a;
}

.navbar-header li.izmaker .sub-menu li:hover, 
.navbar-header li.izmaker .sub-menu li a:hover {
	background-color: #ffffff;
	color: #22b6a3;
}

.navbar-header ul li:hover ul li, 
.navbar-header ul li a:hover ul li {
	visibility: visible;
	overflow: visible;
	height: 40px;
	z-index: 10;
}

.navbar-header * {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* Form search */
.form-search {
	float: right;
	width: 230px;
	text-align: right;
}

.form-search fieldset input.form-control {
	width: 180px;
	height: 26px;
	margin: 4px 12px 4px 0;
}

.form-search fieldset input {
	vertical-align: middle;
}

/* Breadcrumb styles
----------------------------------------------- */
#breadcrumb {
	margin-bottom: 10px;
	color: #3c3c3c;
	font-size: 12px;
}

#breadcrumb ul li {
	display: inline;
}

#breadcrumb ul li+li:before {
	content: "\00a0>\00a0 ";
}

#breadcrumb a:link, 
#breadcrumb a:visited {
	color: #0296d4;
}

#breadcrumb a:active, 
#breadcrumb a:hover {
	color: #0296d4;
}

/* Single styles
----------------------------------------------- */
article {
	width: 745px;
	margin-bottom: 40px;
}

/* Entry header */
article .entry-header .category {
	margin-bottom: 12px;
	background-color: #dd495a;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

article .entry-header .category img {
	margin: 0 10px;
	vertical-align: -3px;
}

article .category.izmaker,
article .category.info,
article .category.campaign,
article .category.pickup,
article .category.useful,
article .category.magazine {
	background-color: #22b6a3;
}

article .entry-header h1.entry-title {
	margin-bottom: 12px;
	color: #3c3c3c;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.3em;
}

article .entry-header .entry-date {
	margin-bottom: 16px;
	color: #3c3c3c;
	font-size: 16px;
}

article .entry-header .entry-tags {        
	margin-bottom: 50px;	
}

article .entry-header .entry-tags a {
	display: inline-block;
	margin: 0 10px 5px 0;
	padding: 5px 10px;
	background-color: #bababa;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

article .entry-tags a:link, 
article .entry-tags a:visited,
article .entry-tags a:hover, 
article .entry-tags a:active {
	color: #ffffff;
}

/* Entry content */
article .entry-content {
	margin-bottom: 50px;
}

article .entry-content img {
	margin-bottom: 16px;
}

article .entry-content h1 {
	margin-bottom: 20px;
	padding: 24px 20px;
	background-color: #efefef;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3em;
}

article .entry-content h2 {
	margin-bottom: 20px;
	padding-bottom: 10px;
	background: url(../images/bg_h2.gif) repeat-x bottom;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3em;
}

article .entry-content h3 {
	margin-bottom: 20px;
	padding-left: 20px;
	background: url(../images/bg_h3.gif) no-repeat left;
	color: #3c3c3c;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.6em;
}

article .entry-content p {
	color: #3c3c3c;
	font-size: 16px;
	line-height: 1.5em;
}

article .entry-content strong,
article .entry-content b {
	color: #3c3c3c;
	font-weight: bold;
}

article .entry-content em,
article .entry-content address {
	color: #3c3c3c;
	font-style: italic;
}

article .entry-content ul {
	list-style-image: url(../images/list_icon.gif);
	margin-left: 1.4em;
}

article .entry-content ul li {
	margin-bottom: 20px;
}

article .entry-content ol {
	list-style-type: decimal;
	margin-left: 1em;
}

article .entry-content ol li {
	margin-bottom: 20px;
}

article .entry-content blockquote {
	margin-bottom: 50px; 
	border: 1px solid #ddd9da;
	background: url(../images/bg_quotation.gif) no-repeat 20px 20px;
	background-color: #f9f9f9;
}

article .entry-content blockquote p {
	padding: 20px 20px 20px 90px;
	color: #727272;
	font-style: italic;
}

/* Entry footer */
article .entry-footer {
	width: 745px;
	margin: 0;
	margin-bottom: 0;
}

#social {
	margin-bottom: 40px;
}

#social ul li {
	float: left;
	margin-right: 10px;
}

#secondary-adsense {
	margin-bottom: 40px;
}

#staff-area dl {
	width: 745px;
	height: 200px;
	margin-bottom: 5px;
	background-color: #24afc8;
}

#staff-area dl dt {
	width: 200px;
	height: 200px;
}

#staff-area dl dd.first-child {
	height: 26px;
	margin-top: -190px;
	padding-left: 200px;
}

#staff-area dl dd h3 {
	display: inline-block;
	padding: 0 5px;
	background-color: #ffffff;
	color: #24afc8;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

#staff-area dl dd.list {
	height: 12px;
	margin-top: -20px;
	padding-left: 640px;
}

#staff-area dl dd.list p a:link,
#staff-area dl dd.list p a:visited, 
#staff-area dl dd.list p a:hover,
#staff-area dl dd.list p a:active { 	
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

#staff-area dl dd.worker {
	height: 20px;
	margin-top: 34px;
	padding-left: 220px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

#staff-area dl dd.worker span {
	line-height: 1em;
}

#staff-area dl dd.worker span a:link,
#staff-area dl dd.worker span a:visited,
#staff-areadl dd.worker span a:active, 
#staff-area dl dd.worker span a:hover {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}

#staff-area dl dd.description {
	margin-top: 20px;
	padding: 0 20px 0 220px;
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
}

/* Navigation */
.navigation {
	margin-bottom: 40px;
}

.navigation .nav-previous {
	float: left;
	width: 290px;
	height: 60px;
	padding: 20px 40px;
	background-color: #24afc8;
	background-image: url(../images/left_arrow.gif);
	background-repeat: no-repeat;
	background-position: 3% 50%;
}

.navigation .nav-previous a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.8em;
}

.navigation .nav-previous:hover {
	background-color: #75ccdc;
	background-image: url(../images/left_arrow_hover.gif);
}

.navigation .nav-next {
	float: right;
	width: 290px;
	height: 60px;
	padding: 20px 40px;
	background-color: #24afc8;
	background-image: url(../images/right_arrow.gif);
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

.navigation .nav-next a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.8em;
}

.navigation .nav-next:hover {
	background-color: #75ccdc;
	background-image: url(../images/right_arrow_hover.gif);
}

/* Related article */
#related-article {
	margin-bottom: 40px;
}

#related-article h3 {
	margin-bottom: 20px;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

#related-article img {
	margin-right: 10px;
	vertical-align: -3px;
}

#related-article li {
	margin-bottom: 10px;
	padding-left: 10px;
	background: url(../images/icon_blue.gif) no-repeat 0 50%;
}
#related-article li a {
	color: #00b5d6;
}

/* Update */
#update {
	margin-bottom: 40px;
}

#update h3 {
	margin-bottom: 20px;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

#update img {
	margin-right: 10px;
	vertical-align: -3px;
}
#update ul {
	letter-spacing: -.30em;
}

#update ul li {
	display: inline-block;
	width: 100px;
	margin: 0 28px 0 0;
	vertical-align: top;
	letter-spacing: normal;
}

#update ul li:last-child {
	margin: 0;
}

#update ul li a {
	display: block;
	font-size: 12px;
	line-height: 1.5em;
}

#update ul li img {
	border-radius: 0;
	box-shadow: none;
}

/* Comments styles
----------------------------------------------- */
#comments {
	border: solid 1px #000000;
}

#comments h3.comments-title {
	margin-bottom: 20px;
	padding: 15px 20px;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

.comments-inner .commetns-list {
	padding: 20px;
}

.comments-inner ol li article.comment-body {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: dotted 1px #a09898;
}

footer.comment-meta {
	margin-bottom: 0px;
}

.comment-author.vcard {
	display: inline;
}

.comment-author.vcard img {
	display: none;
}

.comment-author.vcard b.fn {
	color: #00b5d6;
	font-size: 14px;
	font-weight: bold;
}

.comment-author.vcard span.says {
	display: none;
}

article footer .comment-metadata {
	display: inline;
}

.comment-metadata a time {
	color: #1c1c1c;
	font-size: 14px;
	font-weight: bold;
}

.comment-metadata span.edit-link a.comment-edit-link {
	font-size: 14px;
}

.comments-innerã€€.comment-content p {
	margin-bottom: 1em;
	font-size: 14px;
	line-height: 1.6em;
	word-wrap: break-word;
}

.comments-inner .reply {
	text-align: right;
}

.comments-inner .reply a.comment-reply-link {
	font-size: 14px;
	font-weight: bold;
}

.comments-inner ul.children li {
	margin-left: 1em;
}

.comments-inner .comment-respond {
	padding: 0 20px 20px 20px;
}

p.comment-form-author label {
	color: #1c1c1c;
	font-size: 14px;
	font-weight: bold;
}

p.comment-form-author input#author {
	width: 390px;
	height: 20px;
}

p.comment-form-email input#email {
	width: 390px;
	height: 20px;
}

p.comment-form-comment textarea#comment {
	width: 645px;
	height: 150px;
}

.comment-respond p.form-submit {
	text-align: right;
}

.comment-respond p.form-submit input#submit {
	width: 146px;
	height: 40px;
	border-style: none;
	background-color: #505050;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
}

.comment-respond p.form-submit input#submit:hover {
	background-color: #868484;
	cursor: pointer;
}

/* Sidebar styles
----------------------------------------------- */
.izmaker,
.sinagawa,
.raitank,
#primary-adsense,
#widget-facebook {
	margin-bottom: 20px;
}

#primary-adsense {
	height: 602px;
}

.ads-wrapper {
	width: 300px;
}

.ads-wrapper a img {
	margin-bottom: 10px;
}

.ads-wrapper a:nth-child(2n+1) img {
	margin-right: 20px;
}

#widget-facebook {
	height: 642px;
}

/* Popular posts */
#popular-posts {
	height: 1043px;
	margin-bottom: 24px;
	padding: 10px 16px;
	border: 1px solid #d1d1d1;
}

#popular-posts h3 {
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: bold;
}

#popular-posts img {
	margin-right: 4px;
	vertical-align: -8px;
}

#popular-posts ol {
	margin: 0;
    counter-reset: li;
}

#popular-posts li {
	position: relative;
	margin-bottom: 20px;
	font-size: 12px;
}

#popular-posts ol li:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: url(../images/bg_blue.gif) no-repeat;
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	content: counter(li);
	counter-increment: li;
}

#popular-posts li img {
	float: left;
	width: 80px;
	margin-right: 10px;
}

#popular-posts .pop-content {
	float: right;
	width: 170px;
}

#popular-posts .pop-category a {
	display: block;
	width: 85px;
	margin-bottom: 10px;
	background-color: #00b5d6;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}

#popular-posts .pop-category a#blog,
#popular-posts .pop-category a#news,
#popular-posts .pop-category a#technique,
#popular-posts .pop-category a#interesting,
#popular-posts .pop-category a#life {
	background-color: #dd495a;
}

#popular-posts .pop-category a#izmaker,
#popular-posts .pop-category a#info,
#popular-posts .pop-category a#campaign,
#popular-posts .pop-category a#pickup,
#popular-posts .pop-category a#useful,
#popular-posts .pop-category a#magazine {
	background-color: #22b6a3;
}

/* Footer area styles
----------------------------------------------- */
#footer-area {
	height: 200px;
	margin-bottom: 20px;
	background-image: url(../images/bg_izmaker.png),url(../images/bg_white.gif);
	background-repeat: no-repeat,repeat-x;
	background-position: 50% 50%,top;
	background-color: #f7f7f7;
}

#footer-area .social-info {
	width: 1074px;
	margin: 0 auto;
	padding: 58px 0;
}

#footer-area .social-info ul li {
	float: left;
	width: 348px;
	margin-right: 15px;
}

#footer-area .social-info ul li:last-child {
	margin-right: 0;
}

#footer-area .social-info ul li .fo-facebook,
#footer-area .social-info ul li .fo-twitter {
	overflow: hidden;
	position: relative;
}

#footer-area .social-info ul li .fo-facebook .fb-content,
#footer-area .social-info ul li .fo-twitter .tw-content {
	position: absolute;
	top: 66px;
    left: 124px;
}

/* Footer styles
----------------------------------------------- */
footer {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.navbar-footer {
	float: left;
}

.navbar-footer ul li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
}

.navbar-footer ul li a {
	font-size: 12px;
	text-decoration: none;
}

.navbar-footer ul li a:link, 
.navbar-footer ul li a:visited,
.navbar-footer ul li a:active, 
.navbar-footer ul li a:hover {
	color: #000000;
}

p.copyright small {
	float: right;
	font-size: 12px;
}