@charset "utf-8";
/* Basic styles
======================================== */
a:link, a:visited, a:hover {
	color: #00b5d6;
	text-decoration: none;	
}

a:active {
	color: #f8b551;
	text-decoration: none;	
}

/* Layout styles
======================================== */
#page {
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}

#main {
	float: left;
	width: 774px;
}

aside {
	float: right;
	width: 300px;
}

body.author aside,
body.category aside,
body.search aside,
body.tag aside {
	padding-top: 22px;
}

/* header styles
======================================== */
header h1.logo {
	width: 1074px;
	margin: 28px auto 27px auto;
}

header nav {
	height: 40px;
	margin-bottom: 20px;
	-moz-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	-webkit-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	background-color: #3c3c3c;
}

header nav .nav-wrapper {
	width: 1074px;
	margin: 0 auto;
}

header nav .nav-wrapper .nav-inner {
	float: left;
	width: 400px;
}

header nav .nav-wrapper .nav-inner a.home-buttom {
	float: left;
	width: 30px;
	margin: 8px 40px 8px 10px;
}

header nav .nav-wrapper .nav-inner .menu-header-nav-container {
	float: left;
	width: 320px;
}

header nav ul {
	list-style: none;
}

header nav ul.menu {
	width: 320px;
	height: 40px;
}

header nav ul li {
	position: relative;
	float: left;
	z-index: 2;
	width: 140px;
	text-align: center;
}

header nav ul li.blog {
	margin-right: 40px;
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 90%;
}

header nav ul li.izmaker {
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 80%;
}

header nav ul li a {
	display: block;
	border-top: solid 2px #3c3c3c;
	border-bottom: solid 2px #dd495a;
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;
}

header nav ul li.izmaker a {
	border-bottom: solid 2px #22b6a3;
}

header nav ul li a:link, 
header nav ul li a:visited,
header nav ul li a:hover, 
header nav ul li a:active {
	color: #ffffff;
}

/* Sub-menu */
header nav ul ul.sub-menu {
	display: none;
  	position: absolute;
  	-moz-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	-webkit-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	background-color: #dd495a;
}

header nav ul ul.sub-menu li.info,
header nav ul ul.sub-menu li.campaign, 
header nav ul ul.sub-menu li.pickup,
header nav ul ul.sub-menu li.useful,
header nav ul ul.sub-menu li.magazine {
	background-color: #22b6a3;
}

header nav ul ul.sub-menu li a {
	padding-left: 10px;
	border-style: none;
	font-weight: normal;
	text-align: left;
}

header nav ul li:hover ul.sub-menu {
    display: block;
}

header nav ul ul.sub-menu li a:hover {
	opacity:0.3;
	filter: alpha(opacity=30);
	-ms-filter: "alpha( opacity=30 )";
	background-color: #ffffff;
	color: #333333;
}

/* searchBox */
nav form {
	float: right;
	width: 230px;
	text-align: right;
}

nav form fieldset input#search {
	width: 180px;
	height: 26px;
	margin: 4px 12px 4px 0;
}

nav form fieldset input {
	vertical-align: middle;
}

/* container styles
======================================== */
#content {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 118px;
}

/* breadcrumb styles
======================================== */
#main #breadcrumb {
	margin-bottom: 10px;
	color: #3c3c3c;
	font-size: 12px;
}

#main #breadcrumb ul li {
	display: inline;
}

#main #breadcrumb ul li+li:before {
	content: "\00a0>\00a0 ";
}

#main #breadcrumb a:link, 
#main #breadcrumb a:visited {
	color: #0296d4;
}

#main #breadcrumb a:active, 
#main #breadcrumb a:hover {
	color: #0296d4;
}

/* single styles
======================================== */
article {
	width: 745px;
	margin-bottom: 40px;
}

article header.entry-header .category {
	margin-bottom: 12px;
	background-color: #dd495a;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

article header.entry-header .category img {
	margin: 0 10px;
	vertical-align: -3px;
}

/* izmaker */
article header.entry-header .category.izmaker,
article header.entry-header .category.info,
article header.entry-header .category.campaign,
article header.entry-header .category.pickup,
article header.entry-header .category.useful,
article header.entry-header .category.magazine {
	background-color: #22b6a3;
}

article header.entry-header h1.entry-title {
	margin-bottom: 12px;
	color: #3c3c3c;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.3em;
}

article header.entry-header .entry-date {
	margin-bottom: 16px;
	color: #3c3c3c;
	font-size: 16px;
}

article header.entry-header .entry-tags {        
	margin-bottom: 50px;	
}

article header.entry-header .entry-tags a {
	display: inline-block;
	margin: 0 10px 5px 0;
	padding: 5px 10px;
	background-color: #bababa;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

article header.entry-header .entry-tags a:link, 
article header.entry-header .entry-tags a:visited,
article header.entry-header .entry-tags a:hover, 
article header.entry-header .entry-tags a:active {
	color: #ffffff;
}

/* entry-content */
article .entry-content {
	margin-bottom: 50px;
}

article .entry-content img {
	margin-bottom: 16px;
}

article .entry-content h1 {
	margin-bottom: 20px;
	padding: 24px 20px;
	background-color: #efefef;
}

article .entry-content p {
	margin-bottom: 1em;
	font-size: 16px;
	line-height: 1.7em;
}

article .entry-content strong,
article .entry-content b {
	font-weight: bold;
}

article .entry-content em,
article .entry-content address {
	font-style: italic;
}

article .entry-content ul {
	list-style-type: disc;
	margin-left: 3em;
}

article .entry-content ol {
	list-style-type: decimal;
	margin-left: 3em;
}

article .entry-content blockquote p { 
	color: #999999;
	font-style: italic;
}

article footer.entry-footer {
	width: 745px;
	margin: 0;
	margin-bottom: 0;
}

article footer.entry-footer #social {
	margin-bottom: 40px;
}

article footer.entry-footer #social ul li {
	float: left;
	margin-right: 10px;
}

article footer.entry-footer #secondary-adsense {
	margin-bottom: 40px;
}

article footer.entry-footer #staff dl {
	width: 745px;
	height: 200px;
	margin-bottom: 5px;
	background-color: #24afc8;
}

article footer.entry-footer #staff dl dt {
	width: 200px;
	height: 200px;
}

article footer.entry-footer #staff dl dd.first-child {
	height: 26px;
	margin-top: -190px;
	padding-left: 200px;
}

article footer.entry-footer #staff dl dd h3 {
	display: inline-block;
	padding: 0 5px;
	background-color: #ffffff;
	color: #24afc8;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

article footer.entry-footer #staff dl dd.list {
	height: 12px;
	margin-top: -20px;
	padding-left: 640px;
}

article footer.entry-footer #staff dl dd.list p a:link,
article footer.entry-footer #staff dl dd.list p a:visited, 
article footer.entry-footer #staff dl dd.list p a:hover,
article footer.entry-footer #staff dl dd.list p a:active { 	
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
}

article footer.entry-footer #staff dl dd.worker {
	height: 20px;
	margin-top: 34px;
	padding-left: 220px;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

article footer.entry-footer #staff dl dd.worker span {
	line-height: 1em;
}

article footer.entry-footer #staff dl dd.worker span a:link,
article footer.entry-footer #staff dl dd.worker span a:visited,
article footer.entry-footer #staff dl dd.worker span a:active, 
article footer.entry-footer #staff dl dd.worker span a:hover {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}

article footer.entry-footer #staff dl dd.description {
	margin-top: 20px;
	padding: 0 20px 0 220px;
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
}

/* pager */
article footer.entry-footer #navigation {
	margin-bottom: 40px;
}

article footer.entry-footer #navigation .align-left {
	float: left;
	width: 290px;
	height: 60px;
	padding: 20px 40px;
	background-color: #24afc8;
	background-image: url(../images/left_arrow.gif);
	background-repeat: no-repeat;
	background-position: 3% 50%;
}

article footer.entry-footer #navigation .align-left a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.8em;
}

article footer.entry-footer #navigation .align-left:hover {
	background-color: #75ccdc;
	background-image: url(../images/left_arrow_hover.gif);
}

article footer.entry-footer #navigation .align-right {
	float: right;
	width: 290px;
	height: 60px;
	padding: 20px 40px;
	background-color: #24afc8;
	background-image: url(../images/right_arrow.gif);
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

article footer.entry-footer #navigation .align-right a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.8em;
}

article footer.entry-footer #navigation .align-right:hover {
	background-color: #75ccdc;
	background-image: url(../images/right_arrow_hover.gif);
}

/* relatedArticle */
article footer.entry-footer #related-article {
	margin-bottom: 40px;
}

article footer.entry-footer #related-article h3 {
	margin-bottom: 20px;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

article footer.entry-footer #related-article img {
	margin-right: 10px;
	vertical-align: -3px;
}

article footer.entry-footer #related-article li {
	margin-bottom: 10px;
	padding-left: 10px;
	background: url(../images/icon_blue.gif) no-repeat 0 50%;
}
article footer.entry-footer #related-article li a {
	color: #00b5d6;
}

/* update */
article footer.entry-footer #update {
	margin-bottom: 40px;
}

article footer.entry-footer #update h3 {
	margin-bottom: 20px;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
}

article footer.entry-footer #update img {
	margin-right: 10px;
	vertical-align: -3px;
}
article footer.entry-footer #update ul {
	letter-spacing: -.30em;
}

article footer.entry-footer #update ul li {
	display: inline-block;
	width: 100px;
	margin: 0 28px 0 0;
	vertical-align: top;
	letter-spacing: normal;
}

article footer.entry-footer #update ul li:last-child {
	margin: 0;
}

article footer.entry-footer #update ul li a {
	display: block;
	font-size: 12px;
	line-height: 1.5em;
}

article footer.entry-footer #update ul li img {
	border-radius: 0;
	box-shadow: none;
}

/* comments styles
======================================== */
#comments {
	border: solid 1px #000000;
}

#comments h3.comments-title {
	margin-bottom: 20px;
	padding: 15px 20px;
	background-color: #000000;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}

#comments .comments-inner .commetns-list {
	padding: 20px;
}

#comments .comments-inner ol li article.comment-body {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: dotted 1px #a09898;
}

#comments footer.comment-meta {
	margin-bottom: 0px;
}

#comments article footer .comment-author.vcard {
	display: inline;
}

#comments footer.comment-meta .comment-author.vcard img {
	display: none;
}

#comments footer.comment-meta .comment-author.vcard b.fn {
	color: #00b5d6;
	font-size: 14px;
	font-weight: bold;
}

#comments footer.comment-meta .comment-author.vcard span.says {
	display: none;
}

#comments article footer .comment-metadata {
	display: inline;
}

#comments footer.comment-meta .comment-metadata a time {
	color: #1c1c1c;
	font-size: 14px;
	font-weight: bold;
}

#comments footer.comment-meta .comment-metadata span.edit-link a.comment-edit-link {
	font-size: 14px;
}

#comments .comments-inner　.comment-content p {
	margin-bottom: 1em;
	font-size: 14px;
	line-height: 1.6em;
	word-wrap: break-word;
}

#comments .comments-inner .reply {
	text-align: right;
}

#comments .comments-inner .reply a.comment-reply-link {
	font-size: 14px;
	font-weight: bold;
}

#comments .comments-inner ul.children li {
	margin-left: 1em;
}

#comments .comments-inner .comment-respond {
	padding: 0 20px 20px 20px;
}

#comments p.comment-form-author label {
	color: #1c1c1c;
	font-size: 14px;
	font-weight: bold;
}

#comments p.comment-form-author input#author {
	width: 390px;
	height: 20px;
}

#comments p.comment-form-email input#email {
	width: 390px;
	height: 20px;
}

#comments p.comment-form-comment textarea#comment {
	width: 645px;
	height: 150px;
}

#comments .comments-inner .comment-respond p.form-submit {
	text-align: right;
}

#comments .comments-inner .comment-respond p.form-submit input#submit {
	width: 146px;
	height: 40px;
	border-style: none;
	background-color: #505050;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
}

#comments .comments-inner .comment-respond p.form-submit input#submit:hover {
	background-color: #868484;
	cursor: pointer;
}

/* sidebar styles
======================================== */
aside a.izmaker img,
aside a.kokoro img,
aside a.sinagawa img,
aside a.raitank img,
aside #primary-adsense,
aside #widget-facebook {
	margin-bottom: 20px;
}

aside .ads-wrapper a img {
	margin-bottom: 10px;
}

aside .ads-wrapper a:nth-child(2n+1) img {
	margin-right: 20px;
}

/* popular-posts */
aside #popular-posts {
	margin-bottom: 24px;
	padding: 10px 16px;
	border: 1px solid #d1d1d1;
}

aside #popular-posts h3 {
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: bold;
}

aside #popular-posts img {
	margin-right: 4px;
	vertical-align: -8px;
}

aside #popular-posts ol {
	margin: 0;
    counter-reset: li;
}

aside #popular-posts li {
	position: relative;
	margin-bottom: 20px;
	font-size: 12px;
}

aside #popular-posts ol li:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: url(../images/bg_blue.gif) no-repeat;
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	content: counter(li);
	counter-increment: li;
}

aside #popular-posts li img {
	float: left;
	width: 80px;
	margin-right: 10px;
}

aside #popular-posts .pop-content {
	float: right;
	width: 170px;
}

aside #popular-posts .pop-content .pop-category a {
	display: block;
	width: 85px;
	margin-bottom: 10px;
	background-color: #00b5d6;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}

/* todayブログ */
aside #popular-posts .pop-content .pop-category a#blog,
aside #popular-posts .pop-content .pop-category a#news,
aside #popular-posts .pop-content .pop-category a#technique,
aside #popular-posts .pop-content .pop-category a#interesting,
aside #popular-posts .pop-content .pop-category a#life {
	background-color: #dd495a;
}

/* izmaker */
aside #popular-posts .pop-content .pop-category a#izmaker,
aside #popular-posts .pop-content .pop-category a#info,
aside #popular-posts .pop-content .pop-category a#campaign,
aside #popular-posts .pop-content .pop-category a#pickup,
aside #popular-posts .pop-content .pop-category a#useful,
aside #popular-posts .pop-content .pop-category a#magazine {
	background-color: #22b6a3;
}

/* footer-area styles
======================================== */
#footer-area {
	height: 200px;
	margin-bottom: 20px;
	background-image: url(../images/bg_izmaker.png),url(../images/bg_white.gif);
	background-repeat: no-repeat,repeat-x;
	background-position: 50% 50%,top;
	background-color: #f7f7f7;
}

#footer-area .social-info {
	width: 1074px;
	margin: 0 auto;
	padding: 58px 0;
}

#footer-area .social-info ul li {
	float: left;
	width: 348px;
	margin-right: 15px;
}

#footer-area .social-info ul li:last-child {
	margin-right: 0;
}

#footer-area .social-info ul li .fo-facebook,
#footer-area .social-info ul li .fo-twitter {
	overflow: hidden;
	position: relative;
}

#footer-area .social-info ul li .fo-facebook .fb-content,
#footer-area .social-info ul li .fo-twitter .tw-content {
	position: absolute;
	top: 66px;
    left: 124px;
}

/* footer styles
======================================== */
footer {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 20px;
}

footer nav {
	float: left;
}

footer p small {
	float: right;
	font-size: 12px;
}

footer nav ul li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
}

footer nav ul li a {
	font-size: 12px;
	text-decoration: none;
}

footer nav ul li a:link, 
footer nav ul li a:visited,
footer nav ul li a:active, 
footer nav ul li a:hover {
	color: #000000;
}