/* Basic styles
----------------------------------------------- */
a:link, a:visited, a:hover {
	color: #00b5d6;
	text-decoration: none;	
}

a:active {
	color: #f8b551;
	text-decoration: none;	
}

/* Layout styles
----------------------------------------------- */
#page {
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}

#content {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 118px;
}

#main {
	float: left;
	width: 774px;
}

aside {
	float: right;
	width: 300px;
}

/* Header styles
----------------------------------------------- */
header div.logo {
	width: 1074px;
	margin: 28px auto 27px auto;
}

.navbar-header {
	height: 40px;
	margin-bottom: 20px;
	-moz-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	-webkit-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	background-color: #3c3c3c;
}

.navbar-header .nav-wrapper {
	width: 1074px;
	margin: 0 auto;
}

.navbar-header .nav-inner {
	float: left;
	width: 400px;
}

.navbar-header span.home-buttom {
	float: left;
	width: 30px;
	margin: 8px 40px 8px 10px;
}

.navbar-header .menu-header-nav-container {
	float: left;
	width: 320px;
}

.navbar-header ul {
	list-style: none;
}

.navbar-header ul.menu {
	width: 320px;
	height: 40px;
}

.navbar-header ul li {
	position: relative;
	float: left;
	z-index: 2;
	width: 140px;
	text-align: center;
}

.navbar-header ul li.blog {
	margin-right: 40px;
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 90%;
}

.navbar-header ul li.izmaker {
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 80%;
}

.navbar-header ul li a {
	display: block;
	border-top: solid 2px #3c3c3c;
	border-bottom: solid 2px #dd495a;
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;
}

.navbar-header ul li.izmaker a {
	border-bottom: solid 2px #22b6a3;
}

.navbar-header ul li a:link, 
.navbar-header ul li a:visited,
.navbar-header ul li a:hover, 
.navbar-header ul li a:active {
	color: #ffffff;
}

/* Sub menu */
.navbar-header ul.sub-menu {
	display: none;
  	position: absolute;
  	-moz-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	-webkit-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	background-color: #dd495a;
}

.navbar-header ul.sub-menu li.info,
.navbar-header ul.sub-menu li.campaign, 
.navbar-header ul.sub-menu li.pickup,
.navbar-header ul.sub-menu li.useful,
.navbar-header ul.sub-menu li.magazine {
	background-color: #22b6a3;
}

.navbar-header ul.sub-menu li a {
	padding-left: 10px;
	border-style: none;
	font-weight: normal;
	text-align: left;
}

.navbar-header ul li:hover ul.sub-menu {
    display: block;
}

.navbar-header ul.sub-menu li a:hover {
	opacity:0.3;
	filter: alpha(opacity=30);
	-ms-filter: "alpha( opacity=30 )";
	background-color: #ffffff;
	color: #333333;
}

/* Form search */
.form-search {
	float: right;
	width: 230px;
	text-align: right;
}

.form-search fieldset input.form-control {
	width: 180px;
	height: 26px;
	margin: 4px 12px 4px 0;
}

.form-search fieldset input {
	vertical-align: middle;
}

/* Breadcrumb styles
----------------------------------------------- */
#breadcrumb {
	margin-bottom: 10px;
	color: #3c3c3c;
	font-size: 12px;
}

#breadcrumb ul li {
	display: inline;
}

#breadcrumb ul li+li:before {
	content: "\00a0>\00a0 ";
}

#breadcrumb a:link, 
#breadcrumb a:visited {
	color: #0296d4;
}

#breadcrumb a:active, 
#breadcrumb a:hover {
	color: #0296d4;
}

/* Staff styles
----------------------------------------------- */
#staff-wrapper h2 {
	width: 745px;
	margin-bottom: 20px;
	background-color: #24afc8;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

#staff-wrapper h2 img {
	margin: 0 10px;
	vertical-align: -3px;
}

#staff-wrapper dl {
	float: left;
	margin: 0 12px 28px 0;
}

#staff-wrapper dl dd {
	background-color: #f3f3f1;
}

#staff-wrapper dl dt img {
	vertical-align: bottom;
}

#staff-wrapper dl dd.worker {
	padding: 20px 0 5px 0;
	color: #383939;
	font-size: 14px;
	text-align: center;
}

#staff-wrapper dl dd.name {
	padding-bottom: 20px;
	color: #24afc8;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#staff-wrapper dl dd.number {
	margin-top: 8px;
	background-color: #ffffff;
}

/* Sidebar styles
----------------------------------------------- */
.izmaker,
.sinagawa,
.raitank,
#primary-adsense,
#widget-facebook {
	margin-bottom: 20px;
}

.ads-wrapper a img {
	margin-bottom: 10px;
}

.ads-wrapper a:nth-child(2n+1) img {
	margin-right: 20px;
}

/* Popular posts */
#popular-posts {
	margin-bottom: 24px;
	padding: 10px 16px;
	border: 1px solid #d1d1d1;
}

#popular-posts h3 {
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: bold;
}

#popular-posts img {
	margin-right: 4px;
	vertical-align: -8px;
}

#popular-posts ol {
	margin: 0;
    counter-reset: li;
}

#popular-posts li {
	position: relative;
	margin-bottom: 20px;
	font-size: 12px;
}

#popular-posts ol li:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: url(../images/bg_blue.gif) no-repeat;
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	content: counter(li);
	counter-increment: li;
}

#popular-posts li img {
	float: left;
	width: 80px;
	margin-right: 10px;
}

#popular-posts .pop-content {
	float: right;
	width: 170px;
}

#popular-posts .pop-category a {
	display: block;
	width: 85px;
	margin-bottom: 10px;
	background-color: #00b5d6;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}

#popular-posts .pop-category a#blog,
#popular-posts .pop-category a#news,
#popular-posts .pop-category a#technique,
#popular-posts .pop-category a#interesting,
#popular-posts .pop-category a#life {
	background-color: #dd495a;
}

#popular-posts .pop-category a#izmaker,
#popular-posts .pop-category a#info,
#popular-posts .pop-category a#campaign,
#popular-posts .pop-category a#pickup,
#popular-posts .pop-category a#useful,
#popular-posts .pop-category a#magazine {
	background-color: #22b6a3;
}

/* Footer area styles
----------------------------------------------- */
#footer-area {
	height: 200px;
	margin-bottom: 20px;
	background-image: url(../images/bg_izmaker.png),url(../images/bg_white.gif);
	background-repeat: no-repeat,repeat-x;
	background-position: 50% 50%,top;
	background-color: #f7f7f7;
}

#footer-area .social-info {
	width: 1074px;
	margin: 0 auto;
	padding: 58px 0;
}

#footer-area .social-info ul li {
	float: left;
	width: 348px;
	margin-right: 15px;
}

#footer-area .social-info ul li:last-child {
	margin-right: 0;
}

#footer-area .social-info ul li .fo-facebook,
#footer-area .social-info ul li .fo-twitter {
	overflow: hidden;
	position: relative;
}

#footer-area .social-info ul li .fo-facebook .fb-content,
#footer-area .social-info ul li .fo-twitter .tw-content {
	position: absolute;
	top: 66px;
    left: 124px;
}

/* Footer styles
----------------------------------------------- */
footer {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.navbar-footer {
	float: left;
}

.navbar-footer ul li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
}

.navbar-footer ul li a {
	font-size: 12px;
	text-decoration: none;
}

.navbar-footer ul li a:link, 
.navbar-footer ul li a:visited,
.navbar-footer ul li a:active, 
.navbar-footer ul li a:hover {
	color: #000000;
}

p.copyright small {
	float: right;
	font-size: 12px;
}