@charset "utf-8";
/* Basic styles
======================================== */
a:link, a:visited, a:hover {
	color: #00b5d6;
	text-decoration: none;	
}

a:active {
	color: #f8b551;
	text-decoration: none;	
}

/* Layout styles
======================================== */
#page {
	width: 100%;
	margin: 0 auto;
	background-color: #ffffff;
}

#main {
	float: left;
	width: 774px;
}

aside {
	float: right;
	width: 300px;
}

body.author aside,
body.category aside,
body.search aside,
body.tag aside {
	padding-top: 22px;
}

/* header styles
======================================== */
header h1.logo {
	width: 1074px;
	margin: 28px auto 27px auto;
}

header nav {
	height: 40px;
	margin-bottom: 20px;
	-moz-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	-webkit-box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	box-shadow: rgba(6,6,6,0.40) 0px 0px 5px;
	background-color: #3c3c3c;
}

header nav .nav-wrapper {
	width: 1074px;
	margin: 0 auto;
}

header nav .nav-wrapper .nav-inner {
	float: left;
	width: 400px;
}

header nav .nav-wrapper .nav-inner a.home-buttom {
	float: left;
	width: 30px;
	margin: 8px 40px 8px 10px;
}

header nav .nav-wrapper .nav-inner .menu-header-nav-container {
	float: left;
	width: 320px;
}

header nav ul {
	list-style: none;
}

header nav ul.menu {
	width: 320px;
	height: 40px;
}

header nav ul li {
	position: relative;
	float: left;
	z-index: 2;
	width: 140px;
	text-align: center;
}

header nav ul li.blog {
	margin-right: 40px;
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 90%;
}

header nav ul li.izmaker {
	background-image: url(../images/bg_navi.gif);
	background-repeat: no-repeat;
	background-position: 80%;
}

header nav ul li a {
	display: block;
	border-top: solid 2px #3c3c3c;
	border-bottom: solid 2px #dd495a;
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;
}

header nav ul li.izmaker a {
	border-bottom: solid 2px #22b6a3;
}

header nav ul li a:link, 
header nav ul li a:visited,
header nav ul li a:hover, 
header nav ul li a:active {
	color: #ffffff;
}

/* Sub-menu */
header nav ul ul.sub-menu {
	display: none;
  	position: absolute;
  	-moz-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	-webkit-box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	box-shadow: rgba(6,6,6,0.50) 0px 4px 5px 0px;
  	background-color: #dd495a;
}

header nav ul ul.sub-menu li.info,
header nav ul ul.sub-menu li.campaign, 
header nav ul ul.sub-menu li.pickup,
header nav ul ul.sub-menu li.useful,
header nav ul ul.sub-menu li.magazine {
	background-color: #22b6a3;
}

header nav ul ul.sub-menu li a {
	padding-left: 10px;
	border-style: none;
	font-weight: normal;
	text-align: left;
}

header nav ul li:hover ul.sub-menu {
    display: block;
}

header nav ul ul.sub-menu li a:hover {
	opacity:0.3;
	filter: alpha(opacity=30);
	-ms-filter: "alpha( opacity=30 )";
	background-color: #ffffff;
	color: #333333;
}

/* searchBox */
nav form {
	float: right;
	width: 230px;
	text-align: right;
}

nav form fieldset input#search {
	width: 180px;
	height: 26px;
	margin: 4px 12px 4px 0;
}

nav form fieldset input {
	vertical-align: middle;
}

/* container styles
======================================== */
#content {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 118px;
}

/* breadcrumb styles
======================================== */
#main #breadcrumb {
	margin-bottom: 10px;
	color: #3c3c3c;
	font-size: 12px;
}

#main #breadcrumb ul li {
	display: inline;
}

#main #breadcrumb ul li+li:before {
	content: "\00a0>\00a0 ";
}

#main #breadcrumb a:link, 
#main #breadcrumb a:visited {
	color: #0296d4;
}

#main #breadcrumb a:active, 
#main #breadcrumb a:hover {
	color: #0296d4;
}

/* staff styles
======================================== */
#staff-wrapper h2 {
	width: 745px;
	margin-bottom: 20px;
	background-color: #24afc8;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	line-height: 40px;
}

#staff-wrapper h2 img {
	margin: 0 10px;
	vertical-align: -3px;
}

#staff-wrapper div dl {
	float: left;
	margin: 0 12px 28px 0;
}

#staff-wrapper div dl dd {
	background-color: #f3f3f1;
}

#staff-wrapper div dl dt img {
	vertical-align: bottom;
}

#staff-wrapper div dl dd.worker {
	padding: 20px 0 5px 0;
	color: #383939;
	font-size: 14px;
	text-align: center;
}

#staff-wrapper div dl dd.name {
	padding-bottom: 20px;
	color: #24afc8;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

#staff-wrapper div dl dd.number {
	margin-top: 8px;
	background-color: #ffffff;
}

/* sidebar styles
======================================== */
aside a.izmaker img,
aside a.kokoro img,
aside a.sinagawa img,
aside a.raitank img,
aside #primary-adsense,
aside #facebook {
	margin-bottom: 20px;
}

aside .ads-wrapper a img {
	margin-bottom: 10px;
}

aside .ads-wrapper a:nth-child(2n+1) img {
	margin-right: 20px;
}

/* popular-posts */
aside #popular-posts {
	margin-bottom: 24px;
	padding: 10px 16px;
	border: 1px solid #d1d1d1;
}

aside #popular-posts h3 {
	margin-bottom: 14px;
	font-size: 14px;
	font-weight: bold;
}

aside #popular-posts img {
	margin-right: 4px;
	vertical-align: -8px;
}

aside #popular-posts ol {
	margin: 0;
    counter-reset: li;
}

aside #popular-posts li {
	position: relative;
	margin-bottom: 20px;
	font-size: 12px;
}

aside #popular-posts ol li:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 20px;
	height: 20px;
	background: url(../images/bg_blue.gif) no-repeat;
	color: #ffffff;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	content: counter(li);
	counter-increment: li;
}

aside #popular-posts li img {
	float: left;
	width: 80px;
	margin-right: 10px;
}

aside #popular-posts .content {
	float: right;
	width: 170px;
}

aside #popular-posts .content .widget-category a {
	display: block;
	width: 85px;
	margin-bottom: 10px;
	background-color: #00b5d6;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}

/* todayブログ */
aside #popular-posts .content .widget-category a#blog,
aside #popular-posts .content .widget-category a#news,
aside #popular-posts .content .widget-category a#technique,
aside #popular-posts .content .widget-category a#interesting,
aside #popular-posts .content .widget-category a#life {
	background-color: #dd495a;
}

/* izmaker */
aside #popular-posts .content .widget-category a#izmaker,
aside #popular-posts .content .widget-category a#info,
aside #popular-posts .content .widget-category a#campaign,
aside #popular-posts .content .widget-category a#pickup,
aside #popular-posts .content .widget-category a#useful,
aside #popular-posts .content .widget-category a#magazine {
	background-color: #22b6a3;
}

/* footer-area styles
======================================== */
#footer-area {
	height: 200px;
	margin-bottom: 20px;
	background-image: url(../images/bg_izmaker.png),url(../images/bg_white.gif);
	background-repeat: no-repeat,repeat-x;
	background-position: 50% 50%,top;
	background-color: #f7f7f7;
}

#footer-area .sns-buttom {
	width: 1074px;
	margin: 0 auto;
	padding: 58px 0;
}

#footer-area .sns-buttom ul li {
	float: left;
	width: 348px;
}

#footer-area .sns-buttom ul li .facebook,
#footer-area .sns-buttom ul li .twitter {
	overflow: hidden;
	position: relative;
}

#footer-area .sns-buttom ul li .facebook #fb-root,
#footer-area .sns-buttom ul li .twitter #tw-root {
	position: absolute;
	top: 66px;
    left: 124px;
}

#footer-area .sns-buttom ul li.center {
	margin: 0 15px;
}

/* footer styles
======================================== */
footer {
	width: 1074px;
	margin: 0 auto;
	margin-bottom: 20px;
}

footer nav {
	float: left;
}

footer p small {
	float: right;
	font-size: 12px;
}

footer nav ul li {
	list-style-type: none;
	float: left;
	margin-right: 40px;
}

footer nav ul li a {
	font-size: 12px;
	text-decoration: none;
}

footer nav ul li a:link, 
footer nav ul li a:visited,
footer nav ul li a:active, 
footer nav ul li a:hover {
	color: #000000;
}